@charset "UTF-8";

:root {
    --verde-agua:#97e1d1;
    --verde-claro:#5adbbf;
    --verde:#3f917f;
    --verde-escuro:#224e45;
    --branco:#f2f2f2;
    --preto:#151515;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    margin-bottom: 30px;

    & h1 {
        font-size: 20px;
        color: var(--verde);
    }

    & a > i{
       font-size: 30px; 
       color: var(--verde); 
    }
}

.criar-form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 90%;
    

    & .titulo {
        width: 90%;
    }

    & .titulo > input {
        background-color: #5adbbf75;
        border: none;
        padding: 10px;
        width: 100%;
        margin: auto;
    }

    & .definicoes {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
}

