@charset "UTF-8";

:root {
    --verde-agua:#97e1d1;
    --verde-claro:#5adbbf;
    --verde:#3f917f;
    --verde-escuro:#224e45;
    --branco:#f2f2f2;
    --preto:#151515;
}

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

.perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--verde-escuro);

    & button {
        background-color: var(--verde-claro);

        height: 30px;
        padding: 8px;
        border: none;
        border-radius: 10px;
    }
}

.foto-usuario {
    width: 100px;

}

.navegacao {
    display: flex;
    justify-content: space-between;
    padding: 8px 40px;
    position: fixed; /* Fixa a barra na tela */
    bottom: 0; /* Posiciona no fundo da tela */
    left: 0; /* Alinha à esquerda */
    right: 0; /* Alinha à direita */
    z-index: 1000; /* Garante que fique acima de outros elementos */
    
}

.navegacao a > i {
    display: flex;
    color: var(--verde-escuro);
    font-size: 30px;
    padding: 5px 10px;
    align-items: center;
}

.navegacao a[href="#"] {
    background-color: rgba(200, 200, 200, 0.5); /* Fundo cinza quando o href é # */
    border-radius: 10px;
}
